 <!DOCTYPE html>
<html>
    <title>xapblr v{{version}}</title>
    <head>
        {% assets "css" %}
        <link rel="stylesheet" type="text/css" href="/{{ASSET_URL}} ">
        {% endassets %}
        {% assets "js" %}
        <script type="text/javascript" src="/{{ASSET_URL}}"></script>
        {% endassets %}
    </head>
    <body onload="javascript:xapblr_onload()">
        <div id="login-grid">
            <h1>Welcome to xapblr@{{about["instance_name"]}}</h1>
            <div id="login">
                <form id="login-form">
                    <input name="username" type="text" placeholder="Username or email" /> <br />
                    <input name="password" type="password" placeholder="Password" /> <br />
                    <input type="submit" id="login" value="Log in" />
                </form>
            </div>
            <div id="about">
                <a href="{{about["source_url"] + version}}">xapblr v{{version}}</a>
                <b>contact:</b> <a href="mailto:{{about["contact_email"]}}">{{about["contact_email"]}}</a>
            </div>
        </div>
    </body>
</html>
