<div id="about">
    <a href="{{config["about"]["source_url"] + version}}">xapblr v{{version}}</a>
    <b>contact:</b> <a href="mailto:{{config["about"]["contact_email"]}}">{{config["about"]["contact_email"]}}</a>
</div>
