[Unit]
Description=Web interface to xapblr, a local index of Tumblr blogs

[Service]
ExecStart=uwsgi --ini /etc/uwsgi/xapblr.ini
Environment="XDG_CONFIG_HOME=%h/.config"
Environment="XDG_DATA_HOME=%h/.local/share"
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
