[Unit]
Description=Locally index a Tumblr blog

[Service]
Type=oneshot
ExecStart=xapblr index %i
Environment="XDG_CONFIG_HOME=%h/.config
Environment="XDG_DATA_HOME=%h/.local/share"
