[Unit]
Description=Web interface to xapblr, a local index of Tumblr blogs

[Service]
ExecStart=uwsgi --http 127.0.0.1:5000 --master --plugin python -p 1 --die-on-term -w xapblr_web:app
Environment="XDG_CONFIG_HOME=%h/.config"
Environment="XDG_DATA_HOME=%h/.local/share"
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
