$bg: #2c2c2e
$fg: #b2b2b2
$gy: #3a3a3a
$cy: #87afaf
$mg: #d78787
$tx: #040404
$gn: #88b090
$rd: #e89393
$dk: #262626

$font-stack: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif

body
    background-color: $bg
    color: $fg
    margin: 0px
    iont: 100% $font-stack
    font-style: normal
    font-variant: normal
    font-weight: normal
    display: flex
    justify-content: center


img
    max-width: 100% !important
    width: auto !important
    height: auto !important

section
    height: auto !important

p
    margin-top: 0em
    margin-bottom: 0em

p.blog-name
    font-weight: bolder

a
    text-decoration: underline
    cursor: pointer
    &:link
        color: $cy
    &:visited
        color: $mg

#grid
    display: grid
    margin: 1em
    column-gap: 1em
    grid-template-rows: 10% 90%
    grid-template-columns: 62% 38%
    grid-template-areas: "search help" "meta help" "results help"
    max-width: 1080px


#help
    grid-area: help
    position: sticky
    top: 0
    max-height: 90vh
    overflow: scroll
    padding: 2px
    align-self: start
    > :first-child
    margin-top: 0px !important
    h1, h2
        margin-top: .1em
        margin-bottom: .3em
        font-weight: 600
        line-height: 1.25
    p, ul, ol
        margin-top: 0
        margin-bottom: 16px

    #help li > p
        margin-bottom: 0px

#applet
    grid-area: search
    position: sticky
    width: 100%
    top: 0
    margin-left: auto
    margin-right: auto
    display: flex
    flex-wrap: nowrap
    flex-direction: column
    div
        margin-top: 4px
        margin-bottom: 4px

#search-controls
    width: 100%
    max-width: 50em
    display: flex
    justify-content: stretch

    &, select
        font-family: $font-stack
        font-weight: bolder
    select
        color: $tx
        padding-top: 3px
        background-color: $cy
        border-width: 2px
        flex-basis: 5em
        flex-shrink: 2
        border-style: solid
        border-color: $tx
        text-align: left
    label
      padding-left: 5px
      padding-right: 5px


#search-container
    display: flex
    width: 100%
    max-width: 50em
    justify-content: stretch
    flex-direction: row
    margin-top: 8px
    > *
      font-size: 1.2em
      margin-right: 4px
      margin-top: 0px
      margin-bottom: 0px

#username
    flex-grow: 1
    flex-shrink: 3.8
    flex-basis: 12em
    width: 100%

#query
    flex-grow: 9
    width: 100%
    flex-basis: 12em
    flex-shrink: 1.5

#search
    background-color: $gn

    min-height: 2em

    display: inline-flex
    justify-content: center
    align-items: center
    --padding-x: 1.2em
    padding: 0.5em var(--ppadding-x)
    padding: 0

    text-align: center

    flex-basis: 5em
    flex-grow: 0.15
    flex-shrink: 2

    border-style: solid
    border-width: 2px
    border-color: $tx

    font-size: 1.2em
    line-height: 1.44
    font-family: $font-stack
    font-weight: bolder
    color: $tx

#search:hover
    cursor: pointer

#results-meta
    width: 100%
    grid-area: meta
    display: none
    span
        color: $rd

#results
    width: 100%
    grid-area: results
    font-family: $font-stack
    max-width: 50em
    line-height: 1.4

.tumblr-embed-loaded
    top:0px
    margin: 0px !important
    z-index:2

.tumblr-embed:not(.tumblr-embed-loaded)
    position: absolute
    top:0px
    margin: 0px !important
    z-index:-2

.quickPreview
    position:  absolute
    margin: 20px

.result
    margin-top: 10px
    position: relative
    display: grid
    grid-template-areas: "body nav" "tags nav"
    min-height: 50px
    padding: 10px
    background-color: $dk
    -webkit-border-radius: 3px
    min-height: fit-content
    -moz-border-radius: 3px
    border-radius: 3px

.calendar-icon
    height: 35px !important
    opacity: 0.6
    margin-left: auto
    margin-right: auto

.result-preview
    display: none

.active-preview
    display: none

.active-preview .active-preview
    display: block

.active-preview .result-preview
    display: block !important
    height: 100%

.active-preview .active-preview .result-preview
    display: none !important

.result-title
    grid-row: title
    height: fit-content
    font-size: 1.2em
    font-weight: 900

.active-preview .active-preview .toggle-this-preview
    color: gray

.active-preview .toggle-this-preview
    color: teal

.nav-container
    display: flex
    flex-direction: column
    grid-column: nav
    justify-content: top
    grid-row: 1 / -1
    width: 100%

    border-left: $tx
    border-left-style: solid
    border-left-width: 2px

    overflow: unset
    padding-top: 10px
    padding-left: 0.1em

.nav-container-content
    position: sticky
    display: flex
    flex-direction: column
    justify-content: flex-start
    top: 0px
    bottom: 0px
    min-height: 3em
    align-items: center

.toggle-this-preview
    color: $fg
    font-size: 1.7em
    font-weight: 100
    margin-bottom: 1em
    &:hover
        cursor: pointer

.external-go
    font-size: 1.5em
    line-height: 0em
    a
      text-decoration: none
      color: $gn

.result-preview iframe
    max-width: 100% !important
    width: 100% !important

.result-body
    height: 100%
    grid-area: body

.result-tags
    grid-area: tags
    a, a:visited
      color: $cy
      padding-right: 15px

.discluded
    display: none

