@use 'sass:math'

$bg: #2c2c2e
$fg: #b2b2b2
$gy: #3a3a3a
$cy: #87afaf
$mg: #d78787
$tx: #040404
$gn: #88b090
$rd: #e89393
$dk: #262626
$yw: #efef8f

$font-stack: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif

$mobile-width: 800px
$pixel-ratios: (1.5, 2, 3)

@mixin desktop
    @media (min-width: $mobile-width+1)
      @content

@mixin mobile
    @media (max-width: $mobile-width)
        @content

body
    display: flex
    overflow: auto
    justify-content: space-between

    background-color: $bg
    color: $fg
    margin: 0px

    font: 100% $font-stack
    font-style: normal
    font-variant: normal
    font-weight: normal
    &:before, &:after
        content: ''


img
    max-width: 100% !important
    width: auto !important
    height: auto !important

section
    height: auto !important

p
    margin-top: 0em
    margin-bottom: 0em

p.blog-name
    font-weight: bolder

a
    text-decoration: underline
    cursor: pointer
    &:link
        color: $cy
    &:visited
        color: $mg

span.poll_question
    font-weight: bold
    color: $yw

ul.poll_answers
    margin-top: 0em
    color: $yw

label
  font-weight: bolder
  padding-right: 5px

#grid
    display: grid
    @include desktop
        column-gap: 1em
    grid-template-rows: min-content min-content 1fr
    grid-template-columns: 1fr auto
    grid-template-areas: "header header" "search help" "results help"
    height: fit-content

#header
    display: flex
    justify-content: space-between
    z-index: 30
    background-color: $bg

    padding-left: .5em
    padding-right: .5em
    grid-area: header

    font-size: 24pt
    font-weight: bolder

#open-help
    background-color: $bg
    padding: 1px 6px
    color: $cy
    font-weight: bolder
    border: 0px
    font-size: 24pt


#help
    @include desktop
        display: grid
        grid-area: help
        position: sticky
        align-self: start
        width: 25em
        max-height: 90vh
    @include mobile
        display: none
        position: fixed
        z-index: 20
        background-color: $tx
        height: fit-content
        max-height: calc(100vh - 2em)
        width: 100vw
        top: 2em
        padding-top: 5px

    overflow-y: scroll
    padding: 2px
    > :first-child
    margin-top: 0px !important
    h1, h2
        margin-top: .1em
        margin-bottom: .3em
        font-weight: 600
        line-height: 1.25
    p, ul, ol
        margin-top: 0
        margin-bottom: 16px

    li > p
        margin-bottom: 0px

#help.shown
    position: fixed
    display: block

#applet
    grid-area: search
    position: sticky
    width: 100%
    @include desktop
        min-width: 35em
        margin-top: 1em
    @include mobile
        margin-left: 5px
        margin-right: 5px
        max-width: 100vh
    top: 0
    margin-left: auto
    margin-right: auto
    padding-bottom: 10px
    z-index: 10
    background-color: $bg

    display: flex
    flex-direction: column
    > form > div
        margin-top: 4px
        margin-bottom: 4px

#search-controls
    width: 100%
    max-width: 50em
    justify-content: stretch
    padding-top: 4px
    display: flex
    @include mobile
        flex-wrap: wrap


    &, select
        font-family: $font-stack
        font-weight: bolder
    select
        color: $tx
        margin-right: 10px
        background-color: $cy
        border-width: 2px
        flex-basis: 5em
        flex-shrink: 2
        border-style: solid
        border-color: $tx
        text-align: left

#search-container
    max-width: min(50em, 100%)
    justify-content: space-around
    margin-top: 8px

    display: flex
    flex-direction: row
    @include desktop
        flex-wrap: nowrap
          margin-top: 0px
    @include mobile
        flex-wrap: wrap
        padding-right: 8px
        padding-right: 8px
        > *
          margin-top: 4px
          ::after
            content: ''

    > *
      font-size: 1.2em
      margin-right: 4px
      margin-bottom: 0px


#blog
    width: 100%
    flex-grow: 1
    flex-basis: 12em

#query
    width: 100%
    flex-grow: 15
    flex-basis: 18em
    flex-shrink: 1

#search
    background-color: $gn

    @include desktop
        margin-right: 0px
        flex-basis: 5em
        flex-grow: 0.15
    @include mobile
        width: 100%
    text-align: center

    border-style: solid
    border-width: 2px
    border-color: $tx

    font-size: 1.2em
    line-height: 1.44
    font-family: $font-stack
    font-weight: bolder
    color: $tx

#search:hover
    cursor: pointer

#results-meta
    width: 100%
    display: none
    span
        color: $rd

#results-meta > div
    display: none
    > div
        padding: 3px

#results-meta-paginated
    display: flex
    justify-content: space-between
    width: 100%

#page
    max-width: 2em

#error
    display: none

.error-occured
    font-weight: bold
    color: $rd

#results
    width: 100%
    grid-area: results
    font-family: $font-stack
    max-width: 50em
    line-height: 1.4

.tumblr-embed-loaded
    top:0px
    margin: 0px !important
    z-index:2

.tumblr-embed:not(.tumblr-embed-loaded)
    position: absolute
    top:0px
    margin: 0px !important
    z-index:-2

.quickPreview
    position:  absolute
    margin: 20px

.result
    margin-bottom: 10px
    position: relative
    display: grid
    grid-template-areas: "body nav" "tags nav"
    grid-template-columns: 1fr min-content
    min-height: 50px
    padding: 10px
    column-gap: 8px
    background-color: $dk
    min-height: fit-content
    -webkit-border-radius: 8px
    -moz-border-radius: 8px
    border-radius: 8px

.external-go
    font-size: 1.5em
    line-height: 0em
    a
      text-decoration: none
      color: $gn

.result-preview
    display: block !important
    height: 100%

.result-body iframe
    max-width: 100% !important
    width: 100% !important

.result-body
    height: 100%
    grid-area: body
    overflow-x: scroll

.result-tags
    grid-area: tags
    a, a:visited
      color: $cy
      padding-right: 15px

.nav-container
    display: flex
    flex-direction: column
    grid-column: nav
    align-content: initial
    grid-row: 1 / -1
    width: 100%

    border-left: $tx
    border-left-style: solid
    border-left-width: 2px

    overflow: unset
    margin-top: -10px
    padding-left: 0.1em

.nav-container-content
    position: sticky
    display: flex
    flex-direction: column
    justify-content: flex-start
    top: 115px
    bottom: 0px
    min-height: 3em
    align-items: center

.toggle
    color: $fg
    font-size: 1.7em
    font-weight: 100
    min-height: 2em
    &:hover
        cursor: pointer
